Full_Automation_Playwright/tests/automation_demo.spec.js-snapshots/register-chromium-win32.png
Full_Automation_Playwright/tests/automation_demo.spec.js-snapshots/Automation-test-login-Register-1-chromium-win32.png
Full_Automation_Playwright/test-results.json
Full_Automation_Playwright/register.png
Full_Automation_Playwright/tests/example.spec.js
Full_Automation_Playwright/tests/automation_demo.spec.js
